
*{
    padding:0;margin:0;box-sizing: border-box;
}
/*-------------------TITLE OF THE PAGE ----------------------------*/
#title
{
text-align: center;
margin-top:2rem;
margin-bottom:2rem;
font-family: "Bodoni Moda SC", serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color:#ffffff;
}
#kawartha{color:#ff0000;}
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------NAVBAR------------------*/
ol{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;  
}
li a{
    text-decoration: none;
    font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight:bold;
font-size: 22px;
flex-wrap: wrap;
font-style: normal;
}
li a:hover{
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    color:#00900e;
}
nav{
  margin-bottom:4rem;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body{scroll-behavior: smooth;background-color: #000000; }
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------HOME--------------------------*/
#home
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:4rem;
    color:#ffffff;
}
#intro
{
    display:flex;
    flex-direction:row;
    gap:8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom:5rem;
}
#maincontent
{
    font-size: 43px;
    margin-bottom:4rem;
    text-decoration: underline;
    text-underline-offset: 1.4rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size:50px;
}
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#whyus
  {
    margin-top:1rem;
    margin-bottom:5rem;
    text-decoration: underline;
    color:#0000ff;
    text-underline-offset: 1.5rem;
  }
  #hightlight
  {
    font-weight: bold;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  
  }
  #ideology
  {
    margin-bottom:4rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:600px;
    color:#ffd700;
  }
 .card
 {
    box-shadow:12px 12px 12px #b4b4b4b4;
 }

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*-----------------------------------------------------*/
  @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------------------------SERVICES---------------------------------------------------------------*/
#servicess
{
    display:flex;
    flex-direction: column;
    gap:1rem;
    border:1px black;
    margin-top:1rem;
    margin-bottom:10rem;
    border:1px solid green;
    padding:12px;
    flex-wrap: wrap;
    align-items: center;
}
#serviceweoffer
{
    display:flex;
    flex-direction:row;
    margin-top:6rem;
    justify-content: space-evenly;
    margin-bottom:1rem;
gap:40rem;
padding:30px;
}
.btn
{
    border-radius: 22px;
    border:1px solid black;
    background-color: grey;
    color:#ffffff;
}
.btn:hover{
  color:#ffffff;
  border:1px solid #ffffff;
}
.btn:hover:active{
 background-color: antiquewhite;  

}
/******************-------------------------------*/
/*-------------Testimonies-----------------------------------*/
html,
    body {
      position: relative;
      height: 100%;
      background:url('./picz/backgroundservices.jpg');
    }
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height:380px;
      margin-top:8rem;
      margin-bottom:8rem;
      margin-left:1rem;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #ratings
    {
        display:flex;
        justify-content: center;
    }
    .card-text
    {
        font-size: 18px;
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
      }
.card{
    padding:10px;
    font-family:  serif;
      font-weight: 700;
      font-style: normal;
      font-size: 22px;
  display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  .material-symbols-outlined
  {
    color:#ffff00;
  }
  #icon
  {
    height:30px;
    border-radius: 50%;
    width:50px;
  }
  .card img{
    border-radius: 75%;
    height:160px;
    width:150px;
    border:5px solid green;
  }
  .mySwiper
  {
    border:1px solid #008000;
    padding:10px;
    margin-top:1rem;
  }
      @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Italianno&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------contact form-----------------------*/
#accordionFlushExample{
  display:flex;
  flex-direction: column;
  color:white;
  background-color: #000000;
  border:1px solid green;
  margin:1.4rem;
  text-align: center;
}
#daysofweek
{
  text-align: left;
}
#timeofweek
{
  text-align: right;
}
.accordion-body
{
  display:flex;
  color:white;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
  font-family:cursive;
font-weight:bold;
margin:1.4rem;
border:1px solid green;
font-size: 20px;
font-style: italic;
}
/*-----------contact form ------------------*/
.contact-section {
width: 100%;
max-width: 40rem;
margin-left: auto;
margin-right: auto;
padding: 3rem 1rem;
}

.contact-intro > * + * {
margin-top: 1rem;
}

.contact-title {
font-size: 1.875rem;
line-height: 2.25rem;
font-weight: 700;
}

.contact-description {
color: rgb(107 114 128);
}

.form-group-container {
display: grid;
gap: 1rem;
margin-top: 2rem;
}

.form-group {
display: flex;
flex-direction: column;
}

.form-label {
margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
padding: 0.5rem;
border: 1px solid #e5e7eb;
display: flex;
height: 2.5rem;
width: 100%;
border-radius: 0.375rem;
font-size: 0.875rem;
line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
outline: 2px solid #2563eb;
outline-offset: 2px;
}

.form-textarea {
min-height: 120px;
}

.form-submit {
width: 100%;
margin-top: 1.2rem;
background-color: #3124ca;
color: #fff;
padding: 13px 5px;
border-radius: 0.375rem;
}
#contactus
{
 border:1.5px solid green;
 margin-top:1.5rem;
}
/*----------------------------------*/

